extends layout

block content
  h1 Windjammers Skill Ranking
  div(class='content')
    table
      thead
        tr
          th Rank
          th Player
          th Skill Level
      tbody
        each player, i in players
          tr
            td #{i + 1}
            td #{player.challonge_username}
            td(class='right') #{player.level}