doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Share+Tech+Mono|Press+Start+2P')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='main')
      block content