* {
  box-sizing: border-box;
}

body {
  font: 14px 'Share Tech Mono', cursive;
  padding: 2.5em 0;
  margin: 0;
  color: #FFFFFF;
  background: #0000FE;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  background: #A100fE;
  background: linear-gradient(135deg, #DA08FF 0em, #DA08FF 1.5em, #A100fE 3.0em, #A100fE 100%);
  display: block;
  width: 100%;
  padding: 0.2em 0;
  text-align: center;
  text-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.5);
}

h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
  content: '';
  display: block;
  position: absolute;
  top: -0.05em;
  left: 0;
  width: 100%;
  height: 0.075em;
  background: #FFFFFF;
  border-top: 0.05em solid rgba(0, 0, 0, 0.75);
  border-bottom: 0.05em solid rgba(0, 0, 0, 0.75);
}

h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.05em;
  left: 0;
  width: 100%;
  height: 0.075em;
  background: #FFFFFF;
  border-top: 0.05em solid rgba(0, 0, 0, 0.75);
  border-bottom: 0.05em solid rgba(0, 0, 0, 0.75);
}

h1 {
  font-size: 2.2em;
}

a {
  color: #00B7FF;
}

table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 1.5em 0.5em;
}

table th {
  background: #5F00F2;
  background: linear-gradient(135deg, #FF998B 0%, #F071B8 0.75em, #BD05F9 1.5em, #5F00F2 100%);
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.2em;
  text-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.5);
  border: 0.1em solid #FFFFFF;
}

table td {
  text-align: left;
  padding-top: 0.5em;
  font-size: 1.3em;
}

table th, table td {
  padding-right: 1em;
  padding-left: 1em;
}

.right {
  text-align: right;
}

.content {
  margin: 2.5em auto;
  text-align: center;
}
